<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="Megyeri Márton">
  <meta name="copyright" content="Megyeri Márton">
  <meta name="keywords" content="DisplayCenter">
  <meta name="description" content="Professzionális monitorok szakértőktől">
  <meta name="theme-color" content="#6062f3">
  <meta property="og:site_name" content="DisplayCenter" />
  <meta property="og:title" content="Professzionális monitorok szakértőktől" />
  <meta property="og:description" content="Professzionális monitorok szakértőktől" />
  <meta property="og:url" content="https://display-center.herokuapp.com/" />
  <meta property="og:image" content="https://display-center.herokuapp.com/images/favicon.png" />
  <meta property="og:locale" content="hu_HU" />
  <meta property="og:type" content="website" />

  <title>{{ title }}</title>

  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" type="image/x-icon" href="https://display-center.herokuapp.com/images/favicon.png">
</head>

<body {{#contains page (greyBody)}}class="bg-grey"{{/contains}}>

  {{> sidenav}}
  {{> login}}
  {{> modals}}
  {{> messages}}

  <div id="headerContainer" {{#contains page (transparentHeader)}}class="main"{{/contains}}>
    <header {{#contains page (transparentHeader)}}class="transparent"{{/contains}}>
      <div id="logo">
        <a class="clickEffect" href="/">
          DisplayCenter
        </a>
      </div>
      <div id="navContainer">
        <nav>
          <a class="menuitem" href="/products">
            <p>termékek</p>
          </a>
          <a class="menuitem {{#if cartSize}}show{{/if}}" id="menuitem_cart" data-counter="{{ cartSize }}" href="/cart">
            <p>kosár</p>
          </a>
          <a class="menuitem" href="/contact">
            <p>kapcsolat</p>
          </a>
          <a class="menuitem" href="/about">
            <p>rólunk</p>
          </a>
					<a class="cartBtn {{#if cartSize}} show{{/if}}" id="menuitem_cart_mobile" data-counter="{{cartSize}}" href="/cart"><i class="material-icons">shopping_cart</i></a>
          <a class="openBtn">
            <div class="sandwichContainer">
              <div class="sandwich" id="s1"></div>
              <div class="sandwich" id="s2"></div>
              <div class="sandwich" id="s3"></div>
              <div class="sandwich" id="s4"></div>
            </div>
          </a>
        </nav>
      </div>
      <div id="accountBox">
        <div id="accountContainer">
          <a class="accountBtn">Saját fiók</a>
          <div id="dropdown">

            {{#unless user}}
            <a class="loginBtn clickEffect">
              <i class="material-icons" style="font-size:22px">account_circle</i>bejelentkezés</a>
            <a class="clickEffect" href="/register">
              <i class="material-icons">group_add</i>regisztráció</a>
            {{/unless}}

            {{#if user}}
	          {{#unless user.isAdmin}}
            <a class="userPageDesktop clickEffect" href="/user/orders">
              <i class="material-icons">settings</i>fiók beállítások</a>
            <a class="userPageMobile clickEffect" href="/user/usermenumobile">
              <i class="material-icons">settings</i>fiók beállítások</a>
            {{/unless}}
            {{/if}}

            {{#if user}}
          	{{#if user.isAdmin}}
            <a class="userPageDesktop clickEffect" href="/admin/dashboard">
              <i class="material-icons">settings</i>vezérlőpult</a>
            <a class="userPageMobile clickEffect" href="/admin/adminmenumobile">
              <i class="material-icons">settings</i>vezérlőpult</a>
            {{/if}}

            <a class="clickEffect" href="/logout">
              <i class="material-icons">input</i>kijelentkezés</a>
            {{/if}}

          </div>
        </div>
      </div>
    </header>
  </div>
  <div id="content" {{#contains page (contentNoPadding)}} class="no-padding"{{/contains}}>