<div id="moreModal"></div>
<div id="searchModal"></div>

<div class="in-progress-modal">
  <div class="in-progress-wrapper active">
    <div class="header">
      <i class="material-icons close-in-progress-modal">close</i>
      <div class="icon">
        <i class="material-icons settings-1">settings</i>
        <i class="material-icons settings-2">settings</i>
      </div>
    </div>
    <div class="content">
      <div class="text">A funkció fejlesztés alatt áll.</div>
      <a class="btn-1 close-in-progress-modal">Értem</a>
    </div>
  </div>
</div>