<div id="sidenav">
	<div class="closeBtn" id="closeBtn">
		<i class="material-icons">clear</i>
	</div>
	<div class="top-wrapper {{#if user}}big{{/if}}">
		{{#unless user}}
		<a class="top-menu-item loginBtn clickEffect" href="#">bejelentkezés</a>
		<a class="top-menu-item clickEffect" href="/register">regisztráció</a>
		{{/unless}}

		{{#if user}}
		<div class="col">
		<p class="username">{{user.username}}</p>
		{{#unless user.isAdmin}}
		<a class="top-menu-item clickEffect" href="/logout">kijelentkezés</a>
		{{/unless}}
		{{/if}}

		{{#if user}}
		{{#if user.isAdmin}}
		<a class="top-menu-item clickEffect" href="/logout">kijelentkezés</a>
		{{/if}}
		</div>
		{{/if}}
	</div>
	<a class="menu-item clickEffect" href="/">
		<i class="material-icons">home</i>
		kezdőlap
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>
	<a class="menu-item clickEffect" href="/products">
		<i class="material-icons">view_module</i>
		termékek
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>
	<a class="menu-item clickEffect" href="/news">
		<i class="material-icons">chrome_reader_mode</i>
		magazin
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>
	<a class="menu-item clickEffect" href="/contact">
		<i class="material-icons">room</i>
		kapcsolat
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>

	{{#if user}}
	{{#unless user.isAdmin}}
	<hr />
	<a class="top-menu-item clickEffect" href="/user/usermenumobile">
		<i class="material-icons">settings</i>
		fiók beállítások
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>
	{{/unless}}
	{{/if}}

	{{#if user}}
	{{#if user.isAdmin}}
	<hr />
	<a class="top-menu-item clickEffect" href="/admin/adminmenumobile">
		<i class="material-icons">settings</i>vezérlőpult
		<i class="material-icons arrow">keyboard_arrow_right</i>
	</a>
	{{/if}}
	{{/if}}

</div>