<div class="tab">
    <a class="tabLink clickEffect {{#is page 'orders'}}active{{/is}}" href="/user/orders">
        <i class="material-icons">shopping_basket</i>Rendelések</a>
    <a class="tabLink clickEffect {{#is page 'wishlist'}}active{{/is}}" href="/user/wishlist">
        <i class="material-icons">favorite</i>Kívánságlista</a>
    <a class="tabLink clickEffect {{#is page 'userdata'}}active{{/is}}" href="/user/userdata">
        <i class="material-icons">build</i>Adatok módosítása</a>
    <a class="tabLink clickEffect {{#is page 'userpass'}}active{{/is}}" href="/user/userpass">
        <i class="material-icons">lock</i>Jelszó módosítása</a>
</div>