{{> header}}


<div class="container-1500">
    <div class="user-menu-mobile">
        <a class="menu-item clickEffect" href="/user/orders"><i class="material-icons">shopping_basket</i>Rendelések</a>
        <a class="menu-item clickEffect" href="/user/wishlist"><i class="material-icons">favorite</i>Kívánságlista</a>
        <a class="menu-item clickEffect" href="/user/userdata"><i class="material-icons">build</i>Adatok módosítása</a>
        <a class="menu-item clickEffect" href="/user/userpass"><i class="material-icons">lock</i>Jelszó módosítása</a>
    </div>
</div>


{{> footer}}